<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITULO -->
    <title>Héroes DH</title>
    <link rel="shortcut icon" href="/img/favicon.ico">    <meta charset="UTF-8">
    
    <!-- ESTILOS CSS -->
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <ul>
            <li><a href="/"><img src="/img/logo-DH.png" alt="logo-DH" style="max-height: 26px;"></a></li>
            <li><a href="/babbage">     Babbage</a></li>
            <li><a href="/berners-lee"> Berners Lee</a></li>
            <li><a href="/clarke">      Clarke</a></li>
            <li><a href="/hamilton">    Hamilton</a></li>
            <li><a href="/hopper">      Hopper</a></li>
            <li><a href="/lovelave">    Lovelave</a></li>
            <li><a href="/turing">       Turing</a></li>        
        </ul>
    </header>
    <main>
        <div>
            <img src="/img/logo-DH.png" alt="logo-DH">
        </div>
        <h1>DH Héroes</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, sapiente esse. Quia exercitationem nisi cupiditate libero alias deleniti debitis ab. Deserunt incidunt animi reiciendis officiis voluptatibus similique, assumenda delectus architecto!</p>
    </main>
    <footer>
        Ricardo Daniel Romero (Grupo 2) - Comisión 12
    </footer>
</body>
</html>