<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITULO -->
    <title>Zithum</title>
    <link rel="shortcut icon" href="/img/15668177831743.jpg">    <meta charset="UTF-8">
    
    <!-- ESTILOS CSS -->
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/><link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <header>
        <nav id="h-menu-bar">
			<div id="h-menu" onclick="onClickMenu()">
				<div id="h-bar1" class="bar"></div>
				<div id="h-bar2" class="bar"></div>
				<div id="h-bar3" class="bar"></div>
			</div>
			<ul class="nav" id="h-nav">
				<li><a href="/" class="fss c1">Home</a></li>
				<li><a href="/login" class="fss c1">Login</a></li>
				<li><a href="/register" class="fss c1">Register</a></li>
				<li><a href="/productCart" class="fss c1">Carrito</a></li>
				<li><a href="/productDetail" class="fss c1">Detalle</a></li>
			</ul>
		</nav>
		<div class="menu-bg" id="h-menu-bg" onclick="onClickMenu()"></div>
		<div class="menu-bg2"id="h-menu-bg2" onclick="onClickMenu()"></div>
        <a href="/" class="header-logo"><img src="img/15668177831743.jpg" alt=""></a>
            <form id="h-search-bar" action="">
                <input type="text" placeholder="Buscar...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="user">
                <a href="#" class="chart"><i class="fas fa-shopping-cart fsl"></i></a>
                <a href="#" class="user-icon"><i class="fas fa-user fsl"></i></a>
            </div>
            <nav class="menu2">
                <ul class="nav">
                    <li><a href="/" class="fss c1">Home</a></li>
                    <li><a href="/login" class="fss c1">Login</a></li>
                    <li><a href="/register" class="fss c1">Register</a></li>
                    <li><a href="/productCart" class="fss c1">Carrito</a></li>
                    <li><a href="/productDetail" class="fss c1">Detalle</a></li>
                </ul>
            </nav>
    </header>
    <main class="detail pos-re">
       <article>
           <div class="circ rosab"></div>
           <section class="product-header">
               <div id="product-detail-title">
                   <h2 class="fwxb fsxl c2 c1b">Stella Artoise</h2><br>
                   <h3 class="fwr fss c2 c1b">(250ml) - Unidad</h3>
               </div>
               <div id="detail-price" class="fwb fsxl c2 pos-re">
                   <p class="dib">$240</p>
                   <div class="c1b pos-ab sub-des"></div>
               </div>
           </section>
           <section class="product-body">
                <div class="details">
                    <div class="detail-buttons">
                        <button id="comprar-producto" class="fwb fsm c1 c2b">Comprar</button> 
                        <button id="detalle-producto" class="fwb fsm c1 rosab">Detalle</button> 
                    </div>
                    <div id="details-info">
                        <h4 class="fwb fsm c2">Natural Lager</h4>
                        <section class="detalle-principal">
                            <div id="produc-alc">
                                <p class="fwb fsxl c1">8.0</p>
                                <p class="fwm fss c2">Alc.</p>
                            </div>
                            <div id="produc-den">
                                <p class="fwb fsxl c1">15º</p>
                                <p class="fwm fss c2">Den.</p>
                                
                            </div>
                            <div id="produc-sab">
                                <p class="fwb fsxl c1">F</p>
                                <p class="fwm fss c2">Sab.</p>
                                
                            </div>
                            <div id="produc-am">
                                <p class="fwb fsxl c1">25</p><br>
                                <p class="fwm fss c2">Am.</p>

                            </div>
                        </section>
                        <section class="description fwr fss c2">
                            <p>Cerveza con carácter fuerte, en su aroma y sabor se perciben notas tostadas, a café y chocolate amargo.</p>
                        </section>
                    </div>
                </div>
                <div class="photo">
                    <img src="/img/chang-250ml.png" alt="">
                </div>
           </section>

       </article>
       <article class="related">
           <p class="fwb fsl c2">Productos similares</p>
           <div id="items">
               <div class="related-1 c1b">
                   <img src="img/ProductoDeCarrito 1.png" alt="">
               </div>
               <div class="related-2 c1b">
                   <img src="img/ProductoDeCarrito 2.png" alt="">
               </div>
               <div class="related-3 c1b">
                   <img src="img/barril.png" alt="">
               </div>
           </div>
       </article>
    </main>
    <footer> 
        <div>
            <p class="pfooter">Redes Sociales</p>
            <p class="redes"><img src="/img/png redes.jpg" alt="redes" style="max-height: 50px;"></p>
        </div>
            <div><p class="pfooter">Contactanos</p>
            <p class="email"><img src="/img/email icono.png" alt="email" style="max-height: 20px;"> zithum.2021@gmail.com</p>
            <p class= "contacto"><img src="/img/wpp icono.png" alt="whatsapp" style="max-height: 20px"> +549-299-123</p>
        </div>
        <div class="logo-central"> <img src="/img/logo de footer.png" alt="logoFooter" style="max-height: 60px;">
            <p class="frase">Copyright © 2021 Zythum SA.</p>
        </div>
    </footer>
    <script src="/js/header.js"></script>
</body>
</html>