<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITULO -->
    <title>Zithum</title>
    <link rel="shortcut icon" href="/img/15668177831743.jpg">    <meta charset="UTF-8">
    
    <!-- ESTILOS CSS -->
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
</head>
<body class="registro">
    <header>
        <nav id="h-menu-bar">
			<div id="h-menu" onclick="onClickMenu()">
				<div id="h-bar1" class="bar"></div>
				<div id="h-bar2" class="bar"></div>
				<div id="h-bar3" class="bar"></div>
			</div>
			<ul class="nav" id="h-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/productCart">Carrito</a></li>
				<li><a href="/productDetail">Detalle</a></li>
			</ul>
		</nav>
		<div class="menu-bg" id="h-menu-bg"></div>
		<div class="menu-bg2"></div>
    </header>
    <main>
        <div class="cajita">
            <form action="">
                <ul class="form-register">
                    <li><h3 class="title-register">crear cuenta</h3></li>
                    <li><input type="text" placeholder=" Nombre" required></li>
                    <li><input type="text" placeholder=" Apellido" required></li>
                    <li><input type="email" placeholder=" Correo" required></li>
                    <li class="contraseña">
                        <input type="password" placeholder=" Contraseña" required>
                        <button class="ver-contraseña">
                            <img class="img-visivility" src="img/icons/visibility.png" alt="Mostrar Contraseña">
                        </button>
                    </li>
                    <li class="checkbox-promotion">
                        <input type="checkbox" class="checkbox">
                        <span>Quiero recibir promociones</span>
                    </li>
                    <li><button class="nueva-cuenta"><a href="">CREAR CUENTA</a></button></li>
                    <li>¿Ya tienes cuenta? <a href="">Iniciar Sesion</a></li>
                </ul>
            </form>
        </div>


    </main>
    <footer> 
        <div>
            <p class="pfooter">Redes Sociales</p>
            <p class="redes"><img src="/img/png redes.jpg" alt="redes" style="max-height: 50px;"></p>
        </div>
            <div><p class="pfooter">Contactanos</p>
            <p class="email"><img src="/img/email icono.png" alt="email" style="max-height: 20px;"> zithum.2021@gmail.com</p>
            <p class= "contacto"><img src="/img/wpp icono.png" alt="whatsapp" style="max-height: 20px"> +549-299-123</p>
        </div>
        <div class="logo-central"> <img src="/img/logo de footer.png" alt="logoFooter" style="max-height: 60px;">
            <p class="frase">Copyright © 2021 Zythum SA.</p>
        </div>
    </footer>
    <script src="/js/header.js"></script>
</body>
</html>