*{
    padding: 0;
    margin: 0;
}

    .caja-producto1{
        background-color: white;
        width: 90% !important;
        height: 35%;
       
        
        border: solid 0.5px #04485f;
        border-radius:5px;
        color:black !important;
        position: relative;
        margin-bottom: 30px;
    }
    .cruz-carrito{
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        border-radius: 80px;
        border:solid 0.3px black;
        position: absolute;
    }
    .cruz-carrito:hover{
        background-color: red;
    }
    .img-producto1{
        width: 95px;
        height: 115px;
        border: solid 0.5px #04485f;
        border-radius: 5px;
        margin-top:20px;
        padding: 3px;
        margin-left: 10px;
    }
    .img-producto1 > img{
        width: 90px;
        height: 110px;
    }
    .nombre-producto1{
        position: absolute;
        width: 172px;
        height: 13px;
        left: 130px;
        top: 20px;
    }
    .info-producto1{
        position: absolute;
        top:50px;
        left: 130px;
    }
    .info-producto1 input{
        width: 40px;
    }

    @media only screen and (min-width: 414px){
        .dosCajitas{
            margin-left: 60px;
            margin-top: 70px;

        }
        
    }

    @media only screen and (min-width: 768px){
        .dosCajitas{
            margin-left: 60px;
            margin-top: 120px;

        }
    }

    .cajitaDeBotonComprar{
        background-color: white;
        text-align: center;
        width: 99%;
        margin-left: 4px;
        border: none;
        border-radius: 3px;
       
    }
    .totalConEnvio{
        display: flex;
        justify-content: space-around;
    }

    .BotonEnvio{
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;

    }

    .botonComprar{
        margin-top: 30px;
    }
    
