.caja-producto1 {
    background-color: white;
    width: 361px;
    height: 155px;
    margin: 60px 7px 20px 7px;
    border:solid;
    border-radius: 8px;
    
}
.caja-producto2 {
    background-color: white;
    width: 361px;
    height: 155px;
    margin: 20px 7px 20px 7px;
    border:solid;
    border-radius: 8px;
    
}
 /*imagen del producto*/

.img-producto1 img{
    position: absolute;
    margin-top: 21px;
    margin-left: 10px;
    width: 90px;
    height: 111px;
    border: solid;
    border-radius: 15px;
}

.img-producto2 img{
    margin-top: 21px;
    margin-left: 10px;
    width: 90px;
    height: 111px;
    border: solid;
    border-radius: 15px;
    vertical-align: text-top;

}

/*cruz*/
#cruz-carrito{
    width: 20px;
    height: 20px;
    margin-left: 350px;
}



/*nombre del producto*/
.nombre-producto1 p{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    
}
.nombre-producto2 p{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    
}



/*informacion de productos*/
.info-producto1 input{
    width: 30px;
}
.info-producto1{
    margin-top: 23px;
    text-align:center;
    
}

.nombre-producto1{
    margin-top: 23px;
}


.info-producto2 p{
    text-align:center;
    
}


/*precio*/

.precio-producto1{
    display: flex;
    padding: 2px;
}