.agregarProducto{
    display: flex;
    flex-direction: column;
    background-color: var(--rosa);
    width: 350px;
    height: 500px;
    border-radius: 25px;
    border: solid 1px black;
    margin: 120px auto;
    text-align: center;
    }

    .botonAgregar{
        padding: 10px;
        border: 1px black solid;
        border-radius: 15px;
        background-color: #04485f;
        cursor: pointer;
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    

