/*** GENERALES ***/
*{
    font-family: var(--typo);
    box-sizing: content-box;
}

body{
    background-color: #fefecc;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}