/*** GENERALES ***/
*{
    font-family: var(--typo);
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-image: url('/img/fondo.png');
    background-attachment: fixed;
    overflow: scroll;
    background-repeat: no-repeat;
}