/*** GENERALES ***/
*{
    font-family: var(--typo);
    box-sizing: border-box;
}

body{
    background-color: #fefecc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}