/*** HEADER ***/
header{
    display: flex;
    overflow: auto;
    background-color: #04485f;
    justify-content: space-around;
    height: 60px;
	box-sizing: border-box;
}

.header-logo{
	display: none;
}

#h-menu{
	width: 50px;
	height: 45px;
	/* margin: 30px 0 20px 20px; */
	cursor: pointer;
	border: 2px var(--c1) solid;
	padding: 12px 8px 2px 8px;
	border-radius: 10px;
}
#h-menu .bar{
	height: 5px;
	width: 100%;
	background-color: #fefecc;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#h-bar1{
	transform: translateY(-4px);
}
#h-bar3{
	transform: translateY(4px);
}
header .nav li a{
	color: #fff;
	text-decoration: none;
}
header .nav li a:hover{
	font-weight: bold;
}
header .nav li{
	list-style: none;
	padding: 16px 0;
}
header .nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
header .menu-bg, #h-menu-bar{
	top: 8px;
	left: 8px;
	position: absolute;
}
header .menu-bg{
	z-index: 61;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,var(--c2),var(--c2));
	border-radius: 50%;
	transition: 0.3s ease;
}
#h-menu-bar{
	z-index: 102;	
}

/* CAMBIOS DEL TOGGLE HAMBURGUESA */
header .change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}

header .change-bg2{
	width: 100vw;
	height: 100vh;
	background: black;
	position: absolute;
	opacity: 0.3;
	transition: 0.5s ease;
	z-index: 1;
}

/* NO LO TOMA, NO BORRAR ASI PREGUNTO A JONA
header .change .bar{
	background-color: white;
} */
header .change #h-bar1{
	background-color: white;
	transform: translateY(4px) rotateZ(-45deg);
}
header .change #h-bar3{
	background-color: white;
	transform: translateY(-6px) rotate(45deg);
}
header .change #h-bar2{
	opacity: 0;
}
header .change{
	display: block;
	margin-bottom: 15px;
	border: none !important;
	/* transition: 0.5s ease; */
}
#h-menu .change{
}


/*/////////////////  SEARCH BAR  /////////////////////*/

#h-search-bar{
	display: flex;
	align-self: center;
	background-color: var(--c1);
	padding: 4px;
	margin-left: 70px;
	height: 45px;
	border-radius: 10px;
	margin-right: 0px;
	min-width: 130px;
	flex-grow: 1;
	/* max-width: 700px; */
}

#h-search-bar input{
	background: none;
	border: none;
	height: 100%;
	font-size: 20px;
	width: 50%;
	flex-grow: 1;
	color: var(--c2);
}

#h-search-bar button{
	background: none;
	border: none;
	font-size: x-large;
	color: var(--c2);
}

/*/////////////////  USER ICONS  /////////////////////*/

header .user {
	display: flex;
	font-size: x-large;
	align-self: center;
}
header .user a{
	font-size: xx-large;
	padding: 6px;
	align-self: center;
	display: flex;
	justify-content: space-between;
	margin-left: 6px;
	color: var(--c1);
}

header .user .user-icon{
	margin-right: 6px;
}

header .menu2{
	align-self: flex-end;
	margin-bottom: 8px;
	width: 700px;
}

header .menu2 .nav{
	display: none;
}

header .menu2 .nav li{
	list-style: none;
	padding: 16px 0;
}


/*DESKTOP*/

@media (min-width: 999px) {
	header {
		height: 100px;
	}

	header .header-logo{
		display: block;
		top: 1px;
		left: -6px;
		position: absolute;
		max-width: 75px;
		padding: 6px;
	}
	
	header .header-logo img{
		width: 100%;
	}


    #h-menu-bar{
		display: none;
	}

    #h-search-bar{
		width: 700px;
	}

	#h-search-bar, 
	header .user{
		align-self: flex-start;
		margin-top: 8px;
	}

	header .menu2 .nav{
		display: flex;
	}
	header .menu2 .nav li{
		padding: 8px 0;
	}
}


