/**********************************/
  /* SCROLL ITEMS HOME*/
/**********************************/
div.scrollmenu {
    display: flex;
    background-color: #fefecc;
    overflow: auto;
    white-space: nowrap;
    align-items: center;

  
}
  
  div.scrollmenu a {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
	box-shadow: 10px 5px 5px  #F3BDA1;
	border-radius: 8%;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
  }

  .home{
	  max-width: 1200px;
  }
/**********************************/
  /* BANNER*/
/**********************************/
  .promos {
      display: flex;
      flex-wrap: nowrap;
	  justify-content: center;
      align-items: center;
	  background-color: #04485f;
  }

  .seccion{
	display: flex;
	align-items: center;
	justify-content: center;  
	background-color: #04485f;
	  
  }
/**********************************/
  /* SLIDE HOME*/
/**********************************/
  @keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	100% { transform: translateX(-400%); }
}

html { scroll-behavior: smooth; }

.wrapper {
	display: flex;
	flex-wrap: nowrap;
	max-width: 1200px;
}

.slider {
	position: relative;
	max-width: 1200px;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		bottom: 96px;
		right: 50px;
	}
.slide img{
	width: 500px;
}

.slider{
	width: 500px;
}

.wrapper{
	margin-left:650px;
}
}
