.form-login {
    background-color: var(--rosa);
    width: 300px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
}

/* PRIMERA PARTE */

.mitad-1 {
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: black 2px solid;
   
}
.titulos-login {
    font-size: 18px;
}

.login-redes {
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
}

.iniciar-facebook-mobile , .iniciar-google-mobile {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
}

.iniciar-facebook, .iniciar-google {
    display: none;
}


/* SEGUNDA PARTE */

.mitad-2 {
    
    padding: 20px;
}

.input-container {
    margin: 12px 0;
}

.input-container .input-style {
    height: 47px;
    width: 230px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2px;
    padding-left: 5px;
}

.input-container span.error-message {
    color: red;
    text-align: start;
    font-size: 15px;
    display: none;
}


.recover-pass {
    display: flex;
    justify-content: end ; 
    margin-top: -4px;
    margin-bottom: 10px;
    font-size: 15px;
}

.input-checkbox {
    display: flex;
    padding-bottom: 10px;
}

.buttom-login2 {
    padding: 10px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: var(--c2);
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}


/* MEDIA QUERY*/

/*TABLET*/

@media (min-width: 700px) {

    .form-login {
        display: flex;
        width: 650px;
        height: 400px;
        margin: 80px auto;
    }
    
    /* PRIMERA PARTE */
    
    .mitad-1 {
        width: 50%;
        height: 100%;
        padding: 20px;
        border-bottom: none;
        border-right: 1px solid black;
    }
    .titulos-login {
        font-size: 25px;
        margin-top: 25px;
    }
    
    .login-redes {
        flex-direction: column;
        margin: 0;
    }
    
    .iniciar-facebook-mobile , .iniciar-google-mobile {
        display: none;
    }
    
    .iniciar-facebook, .iniciar-google {
        display: block;
        width: 100%;
        margin: 70px 0;

    }
    
    .iniciar-google {
        margin-top: -40px;
    }
    .iniciar-facebook img, .iniciar-google img {
        width: 250px;
    }

    /*SEGUNDA PARTE*/

    .mitad-2 {
        width: 50%;
        height: 100%;
         position: relative;
    }    
    
    .mitad-2 div form h3 {
        font-size: 25px;
        margin: 20px;
    }

    .input-container .input-style {
        width: 280px;
        margin-bottom: 10px;
    }

    .recover-pass {
        margin-top: -10px;
    }

    .input-checkbox {
        margin-bottom: 10px;
    }

    .mitad-2 div form h3.crear-cuenta {
        position: absolute;
        bottom: 0;
        left: -130px;
        font-size: 18px;
    }
}

/*DESKTOP---------------------------------------*/

@media (min-width: 900px) {

    .form-login {
        max-width: 1200px;
        min-width: 980px;
    }
    
    /* PRIMERA PARTE */

    .titulos-login {
        font-size: 30px;
        margin-top: 30px;
    }
    
    .login-redes {
        margin-top: -15px;
    }
    
    .iniciar-facebook img, .iniciar-google img {
        width: 350px;
    }

    /*SEGUNDA PARTE*/

      
    
    .mitad-2 div form h3 {
        font-size: 30px;
        margin: 15px;
    }

    .input-container .input-style {
        width: 330px;
        height: 55px;
    }

    
}