
/* GLOBALES */
body{
    background-color: #fefecc;
}
/* FIN GLOBALES */
.titulos-login{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 320px;
    margin-top:50px !important;
    margin:0 auto;
    text-decoration: none;
}
.titulo-formulario-login{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 320px;
}
.cuadro-centrado-login{
    display: flex;
    justify-content: center;
    position: relative;
}

.form-login-desktop{
    max-width: 1200px;
    min-width: 980px;
    height: 470px;
    border-radius: 10px;
    background-color: #F3BDA1;
    position: absolute;
    top: 50%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
/* -------------- MITAD UNO   ---------------- */
.mitad-1{
    width: 50%;
    height: 100%;
    border-right:solid rgba(48, 48, 48, 0.329) 2px;
    text-align: center;
    justify-content: center;
}
.iniciar-con{
    font-size:50px;
}

/* Botones de Inciar con Google - Facebook */
.iniciar-google,.iniciar-facebook{
    display: block;
    width: 100%;
    height: auto;
    margin:60px 0;
}




/* -------------- MITAD DOS   ---------------- */

.mitad-2{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}
.formulario-login-mitad2{
    margin:0 auto;
}
.formulario-login-mitad2 form input{
    width: 330px;
    height: 60px;
    border-radius: 5px;
    border:solid 0px;
}
.formulario-login-mitad2 form a{
    margin-left: 170px;
}
.formulario-login-mitad2 form button{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border:solid 0px;
    font-size: 20px;
    background-color: blue;
    margin-top:20px;
    color:white;
    display: block;
}
.formulario-login-mitad2 form button:hover{
    background-color: red;
}
/* -------------- NUEVO? CREAR CUENTA   ---------------- */

.cent-nuevo-usuario{
    position: absolute;
    bottom: 10px;
    z-index: 12;
}
.cent-nuevo-usuario p{
    font-size: 20px;
}



