*{
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header, footer{
    display: flex;
    overflow: hidden;
    background-color: blanchedalmond;
    justify-content: space-around;
    height: 2.5em;
    align-items: center;
}

header ul {
    display: flex;
    font-size: 1.125em;
    padding: 5px 15px;
    list-style: none;
    align-items: center;
}

header ul li{
    float:left;
}

header ul li a{
    display: flex;
    color: #333;
    vertical-align:middle;
    padding: 14px 10px;
    text-decoration: none;
}

header ul li a img{
    height: max-content;
}

header ul li a:hover{
    transition-timing-function: ease;    
    transition: 1.5s;
    background-color: whitesmoke;
}

main{
    margin: 1rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.15);
    padding: 1rem;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img{
    max-height: 20rem;
    max-width: 80%;
}

h1{
    color: red;
    font-size:x-large;
    margin-bottom: 1rem;
}
p{
    color: blanchedalmond;
    font-size: medium;
}