.bodyProfile{
    background-repeat: no-repeat;
    background-color:#04485f ;
}

.content-profile{
    text-align: center;
    height:300px;
    padding: 12px;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.user-name{
    font-size: 18px;
    margin-top: 14px;
    color: #fefecc;
}

.compras-hechas{
    display: flex;
    flex-direction: column;
    background-color: var(--rosa);
    width: 280px;
    height: 430px;
    border-radius: 25px;
    border: solid 1px black;
    text-align: center;
    margin:auto
    }
