/*** ROOT ***/
:root{
    --c1:#fefecc;
    --c2: #04485f;
    --c3: #1259c3;
    --c4: #666;
    --c5: #ebebeb;
    --c6: #39b54a;
    --rosa: #F3BDA1;
    --typo: 'Saira', sans-serif;
    --fsxs:9px;
    --fss:18px;
    --fsm:24px;
    --fsl:30px;
    --fsxl:36px;
    --fsxxl:72px;
    --fwr:400;
    --fwm:500;
    --fwb:700;
    --fwxb:800;
}