<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>
   
    <%- include('../partials/header.ejs') %> 
<div class="content-profile">
    <div>
     <img class = "avatar" src="/img/users/perfil-generica.jpg" alt="">
     <h1 class="user-name">Gonzalo</h1>
</div>

<div>
<h3> Acerca de</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quod quaerat hic dolore? Est recusandae itaque, sunt at aliquid voluptatibus exercitationem eveniet, minus, assumenda molestias nobis ea voluptate numquam magni!
</p>
</div>
</div>








    <%- include('../partials/footer.ejs') %> 

    <%- include('../partials/scripts.ejs') %> 
    
</body>

</html>