<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>
   
    <%- include('../partials/header.ejs') %> 
    <br>
<div class="bodyProfile">
   
    <div class="content-profile">
    <div>
     <img class = "avatar" src="/img/users/perfil-generica.jpg" alt="">
     <h1 class="user-name">Gonzalo Enrique</h1>
</div>

<div>
</div>
    <br>
<br>
<br>
<br>
<br>

<div class="compras-hechas">
    <h3> HISTORIAL DE COMPRAS</h3>


</div>
</div>
</div>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <%- include('../partials/footer.ejs') %> 

    <%- include('../partials/scripts.ejs') %> 
    
</body>

</html>