<!DOCTYPE html>
<html lang="es">

<body>


    <main>
        <h1 style="width: auto; font-size: 100px; text-align: center;">Pagina no encontrada</h1>
        <div style="text-align: center;">
            <img src="./img/icons/error.svg" alt="" srcset="">
        </div>
    </main>

</body>
</html>