<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>
  
  <%- include('./partials/header.ejs') %> 

    <!-- CONTENEDOR SLIDER -->
<div class="slideshow-container">

  <!-- IMAGENES FULL WIDTH -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
    <img src="/img/SLIDE 1.png" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
    <img src="/img/SLIDE2.png" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="/img/slide3.png" style="width:100%">
    <div class="text"></div>
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="/img/SLIDE4.png" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 5</div>
    <img src="/img/SlideHome.png" style="width:100%">
    <div class="text"></div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
</div>
      <main class= "Home">
        <div class= "promos"> <img src="/img/SECCION1.png" alt="" style="max-height:86px"></div>
        <div class="scrollmenu">
        <a href="/productCart"><img src="/img/promo 1.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 2.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 3.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 4.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 5.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 1.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 2.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 3.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 4.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 5.png" alt="" style="max-height: 220px;"></a>
      }</div>  
      <div class= "seccion"> <img src="/img/SECCION2.png" alt="Promos" style="max-height: 86px"></div>
      <div class="scrollmenu">
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
      </div>  <div class= "seccion"> <img src="/img/SECCION3.png" alt="Promos" style="max-height: 86px"></div>
      <div class="scrollmenu">
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
      </div>  <div class= "seccion"> <img src="/img/SECCION4.png" alt="Promos" style="max-height: 86px"></div>
      <div class="scrollmenu">
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
      </div>  
    </main>
    
    <%- include('./partials/footer.ejs') %> 

    <%- include('./partials/scripts.ejs') %> 
</body>
</html> 