<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>
  
  <%- include('./partials/header.ejs') %> 

    <div class="wrapper">
        <div class="slider" id="slider">
          <ul class="slides">
            <li class="slide" id="slide1">
              <a href="#">
                <p class="caption"></p>
                <img src="/img/SLIDE 1.png" alt="photo 1" style="max-height: 200px">
              </a>
            </li>
            <li class="slide" id="slide2">
              <a href="#">
                <p class="caption"></p>
                <img src="/img/SLIDE2.png" alt="photo 2" style="max-height: 200px;">
              </a>
            </li>
            <li class="slide" id="slide3">
              <a href="#">
                <p class="caption"></p>
                <img src="/img/slide3.png" alt="photo 3" style="max-height: 200px;">
              </a>
            </li>
            <li class="slide" id="slide4">
              <a href="#">
                <p class="caption"></p>
                <img src="/img/SLIDE4.png" alt="photo 4" style="max-height: 200px;">
              </a>
            </li>
            <li class="slide">
              <a href="#">
                <p class="caption"></p>
                <img src="/img/SLIDE 1.png" alt="photo 1" style="max-height: 200px;">
              </a>
            </li>
          </ul>
          <ul class="slider-controler">
            <li><a href="#slide1">&bullet;</a></li>
            <li><a href="#slide2">&bullet;</a></li>
            <li><a href="#slide3">&bullet;</a></li>
            <li><a href="#slide4">&bullet;</a></li>
          </ul>
        </div>
      </div>
      <main class= "Home">
        <div class= "promos"> <img src="/img/SECCION1.png" alt="" style="max-height:86px"></div>
        <div class="scrollmenu">
        <a href="/productCart"><img src="/img/promo 1.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 2.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 3.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 4.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 5.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 1.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 2.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 3.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 4.png" alt="" style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/promo 5.png" alt="" style="max-height: 220px;"></a>
      }</div>  
      <div class= "seccion"> <img src="/img/SECCION2.png" alt="Promos" style="max-height: 86px"></div>
      <div class="scrollmenu">
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
      </div>  <div class= "seccion"> <img src="/img/SECCION3.png" alt="Promos" style="max-height: 86px"></div>
      <div class="scrollmenu">
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
      </div>  <div class= "seccion"> <img src="/img/SECCION4.png" alt="Promos" style="max-height: 86px"></div>
      <div class="scrollmenu">
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 1.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 2.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 3.png" alt=""style="max-height: 220px;"></a>
        <a href="/productCart"><img src="/img/producto 5.png" alt=""style="max-height: 220px;"></a>
      </div>  
    </main>
    
    <%- include('./partials/footer.ejs') %> 

    <%- include('./partials/scripts.ejs') %> 
</body>
</html> 