<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>

    <%- include('./partials/header.ejs') %> 

    <div class="cuadro-centrado-login">
        <div class="form-login">

            <div class="mitad-1">
                <h3 class="titulos-login">Iniciar sesión con</h3>

                <div class="login-redes">

                    <div class="iniciar-facebook-mobile">
                        <a href="https://facebook.com" target="blank"><img src="img/icons/facebook-icon.svg" alt=""></a>
                    </div>
                    <div class="iniciar-google-mobile">
                        <a href="https://www.google.com" target="blank"><img src="img/icons/google-icon.svg" alt=""></a>
                    </div>

                    <div class="iniciar-facebook">
                        <a href="#"><img src="img/boton-facebook.png" alt="icono google"></a>
                    </div>
                    <div class="iniciar-google" alt="Continuar con google">
                        <a href="#"><img src="img/boton-google.png" alt="icono google"></a>
                    </div>

                </div>

            </div>

            <div class="mitad-2">
                <div class="formulario-login-mitad2">
                    <form action="#" method="post">

                        <!-- <p class="titulo-formulario-login">Ingresar con usuario y contraseña</p><br><br>
                        <input type="email" name="email" placeholder="  Email" required> <br><br>
                        <input type="password" name="password" placeholder="    Contraseña" required><br><br>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                        <center><button type="submit">Ingresar</button></center> -->

                        <h3>Ingresa con tu email y contraseña</h3><br>

                        <div class="input-container">
                            <input class="input-style" type="email" name="email" placeholder="Ingrese su email" required>
                            <span class="error-message">Debes ingresar tu email</span>
                        </div>
                        <div class="input-container">
                            <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña" required>
                            <span class="error-message">Debes ingresar tu contraseña</span>
                        </div>
                        <a class="recover-pass" href="">¿Olvidaste tu contraseña?</a>

                        <div class="input-checkbox">
                            <label for="recuerdame">
                                <input type="checkbox" name="recuerdame" id="recuerdame"> Recuérdame
                            </label>
                        </div>
                        <div class="buttom-login">
                            <button class="buttom-login2">INICIAR SESIÓN</button>
                        </div>
                        <h3 class="crear-cuenta">¿Nuevo? <a href="/register">Creá tu cuenta</a></h3>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/footer.ejs') %> 

    <%- include('./partials/scripts.ejs') %> 
    
</body>
</html>