<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>
   
    <%- include('./partials/header.ejs') %> 

    <div class="dosCajitas">
        <div class="caja-producto1">
            <button class="cruz-carrito">X</button>
            <div class="img-producto1">
                <img src="/img/ProductoDeCarrito 1.png" alt="imagen producto 1">
            </div>
            <div class="detalle">
                    <p class="fwb fsxl c2">Stella Artoise 250ml</p>
                    <br>
                    <div style="margin: 10px 0;">
                        <label for="cantidad" class="fwm fsm c2">Cantidad:</label> <input class="fwr fss c2" type="number" name="cantidad" value="1">
                    </div>
                    <div class="subtotal fwr fsm c2">
                        <p> Subtotal: <span class="fwb">$250</span></p>
                    </div>
            </div>
        </div>
        <div class="caja-producto1">
            <button class="cruz-carrito">X</button>
            <div class="img-producto1">
                <img src="/img/ProductoDeCarrito 2.png" alt="imagen producto 1">
            </div>
            <div class="detalle">
                <p class="fwb fsxl c2">Stella Artoise 250ml</p>
                <br>
                <div style="margin: 10px 0;">
                    <label for="cantidad" class="fwm fsm c2">Cantidad:</label> <input class="fwr fss c2" type="number" name="cantidad" value="1">
                </div>
                <div class="subtotal fwr fsm c2">
                    <p> Subtotal: <span class="fwb">$250</span></p>
                </div>
            </div>
        </div>
        <button id="comprar-productos" class="fwb fsm c1 c2b">Comprar</button>   
    </div>

    <%- include('./partials/footer.ejs') %> 

    <%- include('./partials/scripts.ejs') %> 
    
</body>

</html>