<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>

    <%- include('./partials/header.ejs') %> 


    <div class="caja-registro-escritorio">
        <div class="caja-form-registro">
            <center>
                <h2 class="h2-registro">Crear Cuenta</h2>
                <form action="#" method="post">
                    <input type="text" class="input-registro" name="name" id="nombre" placeholder="  Nombre"
                        required><br>
                    <input type="text" class="input-registro" name="lastname" id="apellido" placeholder="  Apellido"
                        required><br>
                    <input type="email" class="input-registro" name="email" id="email" placeholder=" Email"
                        required><br>
                    <input type="password" class="input-registro" name="password" id="password"
                        placeholder=" Contraseña" required><br>
                    <input type="password" class="input-registro" name="confirm-password" id="confirm-password"
                        placeholder=" Confirmar contraseña" required><br>
                    <input type="checkbox" class="notificaciones" name="notificaciones" id="notificaciones"><label for="notificaciones"> Recibir
                        notificaciones</label><br>
                    <button type="submit" class="new-account">CREAR CUENTA</button><br>
                    <hr class="hr-registro">
                    <p>¿Ya tenes cuenta?<a href="/login"> Iniciar sesión</a> </p>
                </form>
            </center>
        </div>
    </div>


    <%- include('./partials/footer.ejs') %> 

    <%- include('./partials/scripts.ejs') %> 
    
</body>
</html>