<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>
  
  <%- include('./partials/header.ejs') %> 

 <!-- TARGETAS CON SCROLL HORIZONTAL -->

 <main class= "Home">
    <p class="fwb fsl c2 pl-5">Resultados</p>
    <p class="fwr fsm c2 text-center">Se han encontrado X resultados</p>
    <div class="scrollmenu" style="display: flex; flex-wrap: nowrap; flex-direction: row;">
        <div class="card mr-4">
            <div class="imgBox">
                <img src= "/img/imagenes-produtos/Botella-cerveza-sinfondo.png"style ="max-width: 25%" alt="cerveza">
            </div>
            <div class="contentBox">
                <h3>Cerveza Zithum 354ml</h3>
                <h2 class="price">$20,<small>98</small></h2>
                <a href="#" class="buy">comprar ahora</a>
            </div>          
        </div>  

        <div class="card mr-4">
            <div class="imgBox">
                <img src= "/img/imagenes-produtos/cerveza-lata-sinfondo.png"style ="max-width: 25%" alt="cerveza">
            </div>
            <div class="contentBox">
                <h3>Cerveza Lata 457ml</h3>
                <h2 class="price">$20,<small>98</small></h2>
                <a href="#" class="buy">comprar ahora</a>
            </div>
        </div> 
    </div>
    <article class="related">
        <p class="fwb fsl c2">Categorias</p>
        <div id="items">
        <a href="#">
            <div class="related-1 c1b">
                <img src="/img/imagenes-produtos/Capa 1.png" alt="" style="max-width: 60px;">
            </div>
        </a>
        <a href="#">
            <div class="related-2 c1b">
                <img src="/img/imagenes-produtos/vaso-cerveza-negra.png" alt="" style="max-width: 60px;">
            </div>
        </a>
        <a href="#">
            <div class="related-3 c1b">
                <img src="/img/imagenes-produtos/vaso-cerveza-roja.png" alt="" style="max-width: 60px;">
            </div>
        </a>
        </div>
    </article>
</main>

    
     
    
    <%- include('./partials/footer.ejs') %> 

    <%- include('./partials/scripts.ejs') %> 
</body>
</html> 